#accion {
    text-align: center;
}

#resultado {
    text-align: center;
    font-size: 20px;
}

#puntos {
    text-align: center;
    margin-top: 28px;
}

#temporizador {
    text-align: center;
    font-size: 50px;
}

#desafio-colores{
    display: flex;
    justify-content: center;
}

#cajaObjetivo {
    height: 100px;
    width: 100px;
    border: 3px black solid;
    margin:auto;
    margin-bottom: 75px;
}

.caja {
    height: 100px;
    width: 100px;
    border: 3px black solid;
}

.ocultar {
    visibility: hidden;
}
